[Unit]
Description=webapp
After=network.target 

[Service]
EnvironmentFile=/etc/environment
Type=simple
User=ec2-user
ExecStart=/usr/bin/node /home/ec2-user/webapp/src/main.js
Restart=on-failure 

[Install]
WantedBy=multi-user.target